/* clear all padding, border, margin from all boxes */
*{
    border:none;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

#login-img {
    float:left;
    height:100vh;
    width: 600px;
    background:url('../images/login_image.webp') center center/ cover no-repeat;
}

#login-holder{
    float:right;
}